.search-bar{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.search-bar input{
    width: 80vw;
    height: 1.8vw;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.5vw;
    font-size: 1vw;

}

.search-bar button{
    height: 2.1vw;
    width: 5vw;
    background-color: rgb(255, 106, 0);
    border-radius: 0.5vw;
}

.product-card-container{
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: center;
}

.product-card{
    border: 1px solid black;
    border-radius: 0.8vw;
    width: 15vw;
    height: 20vw;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 4px 8px ;
    background: linear-gradient(rgb(123, 122, 122), rgba(93, 92, 92, 0.089)) ;


}

.product-card img{
    width: 100%;
    height: 12vw;
    object-fit: cover;
}
.product-card button{
    height: 2vw;
    background-color: rgba(27, 2, 254, 0.948);
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* display: block;
    margin: 0 auto; */
    
}

.product-list h2{
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    
}